body {
    background: burlywood;
}
header {

}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* TODO SVG LOADER FOR WEBPACK */
    /* background-image: url("./images/pattern.svg"); */
}
main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}